<h1>Welcome ...</h1>
<p>... to the world of Mathematical Research Clusters.</p>

<p>From here you can access:
<ul>
  <li>
    the <%= Member.count %> <%= link_to 'members', members_path %> of the centre;
  </li>
  <li>
    the <%= Student.count %> <%= link_to 'students', students_path %> of the centre;
  </li>
  <li>
    the latest news ...
  </li>
</ul>
</p>

<iframe src="https://www.google.com/calendar/embed?title=What&#39;s%20on%3F&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=debrun.maths%40gmail.com&amp;color=%232952A3&amp;ctz=Europe%2FDublin" style=" border:solid 1px #777 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
