<h1>Members</h1>

[<%= mail_to @members.map(&:user).map(&:email).join(','), "Mail All", :cc => "goetz.pfeiffer@nuigalway.ie" %>]

<table>
  <tr>
    <th>Name</th>
    <th>Affiliation</th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= link_to member.first_last, member %></td>
    <td><%= member.affiliation %></td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Member %>
<%= link_to 'New Member', new_member_path %>
<% end %>
